body {
    margin: 40px;
    animation: animateBg 60s linear infinite;
    background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
    background-size: 100% 1100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
  }
  
.header {
    margin-bottom: 50px;
}

.ht {
    color: #f3f3f3;
}

.nmr {
    margin-bottom: 20px;
    text-align: center;
}

.center {
    margin: auto;
}

.bdr {
    color: #f3f3f3;
    font-size: 32px;
    font-weight: bold;
    height: 60px;
    width: 60px;
    
    border:5px solid #f3f3f3;
    border-color: #f3f3f3;
    border-radius: 50%;
}

img {
    height: 350px;
    width: 270px;
    border-radius: 18px;
}

.name {
    margin-top: 7px;
    color: #f3f3f3;
    font-size: 28px; 
}

.count {
    margin-top: 7px;
    color: #f3f3f3;
    font-size: 80px;
    font-weight: bold;
}